<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordatorio de turno - MJ Pro Oil</title>
</head>
<body>
    <img src="https://raw.githubusercontent.com/SChiabudini/mjAppointmentsServer/refs/heads/test/src/assets/bannerEmail.png" alt="" style="width: 100%; display: block; margin: 0 auto;"/>
    <p>Estimado/a {{name}},</p>
    <p>Le recordamos que tiene un turno programado en MJ Pro Oil.</p>
    <p>Detalles del turno:</p>
    <ul>
        {{appointmentDetails}}
    </ul>
    <p>Si tiene alguna consulta o necesita reprogramar su turno, no dude en comunicarse con nosotros.</p>
    <p>Saludos cordiales,<br/>el equipo de <b>MJ Pro Oil</b><br/>Av. 44 n° 1877 e/ 132 y 133<br/>Teléfono: (221) 6230285</p>
</body>
</html>